.error-content {
  padding: 0.25rem;
  max-width: calc(100% - 2rem);
}

.error-content > .error-message {
  border: solid 1px var(--color-light-silver-grey);
  border-radius: 0.25rem;
  padding: 1rem;
  max-width: 100%;
  overflow: auto;
}

