.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-blue);
  padding: 0 1rem;
  gap: 1rem;
  height: 4rem;
  color: white;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.panel-button {
  margin: 0.5rem;
  display: inline-flex;
}

.panel-button > button {
  --button-border-color: var(--color-light-silver-grey);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0;
  background-color: var(--theme-navy);
  color: white;
  border: solid 1px var(--theme-navy-dark);
  transition: background-color var(--transition-time);
  box-shadow: 0 2px 4px var(--shadow-medium),
  0 4px 6px var(--shadow-light);
}

.panel-button > button > .icon {
  display: flex;
}

.panel-button > button {
  padding: 0.5rem;
}

.panel-button > button:hover {
  background-color: var(--theme-navy-light);
  box-shadow: 0 4px 6px var(--shadow-strong),
  0 6px 8px var(--shadow-light);
  cursor: pointer;
}
